#inspire {
  overflow-x: hidden;
}

.refresh {
  position: fixed;
  bottom: 70px;
  right: 20px;
}

.sell-list .v-text-field input{
  text-align: center!important;
}

.v-data-table .v-data-table__mobile-row {
  min-height: 35px!important;
}

.v-data-table .v-data-table__mobile-row:last-child {
  min-height: 70px!important;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
  height: 35px!important;
}

.v-application--is-ltr .v-data-footer__pagination{
  margin: 0!important;
}
